<b><font size="6" color="red">ch01. 자료형과 연산자</font></b>
자료형은 뭐가 숫자인지 문자인지 모르는 것
# 1절. 변수
- 변수 : 프로그램 작업 처리를 위해, 값을 저장할 수 있는 메모리 공간
- 파이썬은 변수 선언도, 선언을 위한 타입도 없다. 별도의 선언 과정도 없다. 그냥 할당하면 된다. 

## 1.1 변수 할당
- 할당연산자(=)을 이용해서 값을 할당하면 자료형(타입)이 셋팅
- **파이썬에서의 모든 변수는 객체로 저장

In [2]:
r = 5 #r이랑 5랑 같다는 게 아님
area = 3.14 * r * r
print('넓이 :', area)

넓이 : 78.5

In [3]:
import numpy as np # numpy라는 패키지를 np라는 이름으로 사용하겠어. 어제 파이선 홈페이지 pypi.org 에 700만개 있었다. 그 700만개 중의 하나. 
area = np.pi * r * r
print('넓이 :', area) #하나 출력하시고 싶으면 콤마??

넓이 : 78.53981633974483

In [ ]:
#원래 78.5가 메모리 값이었는데 78.5398...이 되었네? 이게 300번지가 됨. 그럼 area에 300번지가 담김. 그럼 area에 몇 번지가 담겨있는지 출력해보자. 저장된 주소를 알고싶다 = id.

In [4]:
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397266824816
area의 타입 : <class 'float'>

In [7]:
area.is_integer()

False

In [ ]:
#변수 이름 옆에 놓고 할당하면 돼. 
#area의 타입은 float. 
#근데 area에 함수값을 넣어보면?

In [11]:
area = "파이썬"
print('area의 주소 :', id(area))
print('area의 타입 :', type(area))

area의 주소 : 2397304064784
area의 타입 : <class 'str'>

## 1.2 변수(함수) 이름 규칙
- 무조건 문자로 시작해야된다, not숫자. 
- 문자(특수문자는 _를 제외하고 불가), 문자랑 숫자, _로 변수명 작성
- 함수명은 변수명으로 가능하나 피한다. e.g. str = 5 를 하면 str(2)가 안 됨. 꼭 써야 한다면 str_식으로 사용한다.
- int도 함수다. id도. 그래서 int = 5 는 안 됨. 
- 진짜 못 쓰는 것: 파이썬 예약어 (for, if, ...)는 변수명 사용 불가. 
- 한글 변수 가능. (문자를 사용하니까) 근데 비추, 꼭 필요시에만 사용.

In [12]:
이름 = '홍길동' #비추
print(이름)

홍길동

In [15]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [13]:
member.name = '홍길동'

NameError: name 'member' is not defined

In [14]:
#에러 나니까
member_name = "홍길동"
memberName = "홍길동"
print(member_name, memberName)

홍길동 홍길동

In [16]:
# 숫자 : 정수, 실수, (음수 양수도 다 여기 들어감.) 복소수 (1+3i) 근데 파이썬에서는 허수를 j라고 나타냄.
i = 1 + 3j #반도체 AI쪽에서는 쓸 지 모르겠는데 우린 잘 안 씀. 
print(type(i))

<class 'complex'>

In [17]:
# class 
isinstance(i, complex) # 변수가 complex 타입의 객체인지?

True

In [18]:
isinstance(i, int) # i 변수가 int 타입의 객체인가를 묻는 것

False

## 1.3 다중 변수 선언

In [ ]:
a = 10
b = 20

In [20]:
#위 셀을 한 번에
a, b = 10, 20
print(a, b)

#이런 다중 변수 선언을 하면 1는 10에 b는 20에 넣는데 동시에 넣음

10 20

In [21]:
a, b = b, a+b  #다중 변수 할당 할 경우에 순차적 할당이 아니고 일괄 동시 할당이 됨. a+b를 먼저 하고 들어가는 것. 
print(a, b)

20 30

In [22]:
#우린 지금까지 함수 print, id (주소), instance 해
#앞으로 800시간 수업 하니까 더 많이 나옴. 다음주 더 많이 나옴.

## 1.4 도움말

In [23]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [1]:
help() #빠져나오려면 q / 결과 접기/펴기 : esc+o

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
#도움말 기능 : shift + tab 키
print()

In [11]:
def add(x, y = 0): 
# add 라는 함수를 선언하는 것
    ''' 
    매개변수(x, y) 2개를 받아 두자리 숫자로 만드는 함수
    x = 10의 자리수가 되고
    y = 1의 자리수가 됨(default값 0)
    '''

    return x*10 + y

In [7]:
add(3, 4) #왼쪽 괄호 옆에 커서 두고 shift+tab tab 하면 위에 내가 적은 도움말이 나옴.

34

In [12]:
add(3)

30

# 2절. 화면 i/o

In [14]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 입력값은 문자(str)로 받음
first = input()
print(first)
#입력을 하고 enter눌러야 끝난다

아무거나
아무거나

In [15]:
first = input('첫번째 숫자는?')
second = input('두번째 숫자는?')

첫번째 숫자는?7
두번째 숫자는?3

In [16]:
print(first, second)

7 3

In [17]:
#더하면 10이어야 될 것 같은데 문자로 들어가 있는 상태이다. 따로 따로 더하는 것. 8이라는 문자 더하기 2라는 문자.
#진짜 숫자 입력하려면 input에 int를 감싸야 된다. 
print('두수의 합은', first+second)

두수의 합은 73

In [28]:
first=int(input('첫번째 숫자는?'))
second = int(input('두번째 숫자는?'))
#다시 실행하는 방법: shift + enter

첫번째 숫자는?10
두번째 숫자는?10

In [29]:
print('두수의 합은', first+second)

두수의 합은 20

In [36]:
print('first', first, 'second', second, sep=' - ', end='')
print('Hello', 'Python', sep=' ')
#화면 인풋은 input, 출력은 print
#end=\n이 없으면 다음 줄이 앞줄과 붙어서 출력됨

first - 10 - second - 10Hello Python

# 3절. 기본 자료형
- 자료형: 변수가 가져야 할 값의 형식. 자료형에 따라 값의 범위 달라짐. 자료형에 따라 값의 크기와 저장 방식 달라짐
    - e.g a=4 랑 a=4.14 차지하는 메모리가 다를 것 같다. 
    - 켬퓨터는 2진수. 1, 0. 4는 00000100. 1byte에서 가장 큰 수는 0111 1111 (=121)
- 자료형에 따라 수행할 수 있는 명령어들이 달라짐
    - `숫자` : int, float(소수점 4.0), complex(허수부 j)
    - `문자` : str("", '') #저장할 게 많음. ㅎㅎㅎ/ㅋㅋㅋ처럼 파이썬에 등록되지 않은 단어가 많음.
    - `논리` : bool(True/False)

## 3.1 숫자형
- 파이썬에서 저장되는 젤 큰 숫자는 뭔지

In [37]:
import sys
print(sys.maxsize) #얘가 시스템에서 정수의 최댓값 : 2**63 - 1 
#지구에서 안드로메다 거리, 지구-태양 거리. 태양 흙점 개수. 파이썬으로 가능. 어떻게?

9223372036854775807

In [38]:
2**63 - 1

9223372036854775807

In [41]:
i = sys.maxsize + 100000000000
i
#int 값에 무한대로 들어감.

9223372136854775807

In [43]:
i = sys.maxsize + 100000000000
print(i)
print(type(i))

9223372136854775807
<class 'int'>

In [44]:
#정말 작은 값도 가능한가
# f - 0.0000000000012 이렇게 쓰기보다는
f = 1.2e-20 #지수형 1.2*10의 -20승
#f는 변수 이름.
print(f)
b = 1.2e20 #지수형 1.2의 10의 20승
print(b)

1.2e-20
1.2e+20

In [46]:
#파이썬에서는 /(나누기)의 결과는 무조건 실수. c언어는 3/2는 1로 나온다
f = 3/2
print('f=', f)

f= 1.5

In [52]:
#만약 정수로 하고 싶다면
f = int(3/2) #int() : int로 형변환(내림)
print('f=', f)
f = 3//2 #몫 연산자
print('f=', f)

f= 1
f= 1

## 3.2 문자형
겹따옴표("~")나 홑따옴표('~') 이용. 둘 다 가능.

In [54]:
name = '' #이건 0글자짜리 문자형. "" 와 아주 똑같다. 
#근데 가-끔 섞어쓴다. e.g. 홍길동'짱'. 강조하고 싶어서 따옴표 쓰는 경우. 따옴표 안 따옴표

In [63]:
#name = '홍길동\'짱\''
#근데 가독성이 떨어짐. 
name = "홍길동'짱'"
print(name)
address = '서울시 관악구 "신림"동'
print(name, address)

홍길동'짱'
홍길동'짱' 서울시 관악구 "신림"동

In [67]:
#escape 문자 (탈출문자) : \n , \t, \r (맨 앞으로)
text = '여러줄\t짜리 내용을 저장\n줄바꿈 문자를 쓰면 됨\n줄바꿈'
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

In [70]:
#하지만 여러줄 문장은

text = '''여러줄\t짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈
'''
print(text)

여러줄	짜리 내용을 저장
줄바꿈 문자를 쓰면 됨
줄바꿈

### ※문자열 연산 (+, *)

In [72]:
'''
    여러 줄 주석 용도
    2025.09.12 문자열 연산 기능 by 아무개
'''
#맨날 앞에 샾 붙이기 귀찮으니까. 또, 빨갛게 표현됨. 

name1 = '홍길동'
name2 = '동에번쩍' 
print(name1 + name2)
print(name1, name2)

홍길동동에번쩍
홍길동 동에번쩍

In [73]:
print(name1 *3)

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로를 표현시 이용 e.g. 특정 데이터만 빼내고/없애고 싶을 때. -> 자연어처리할 때 많이 쓰겠죠. 
- e.g.이메일은 골뱅이 @가 들어가고 중간에 점 들어가야된다. 그런 것들 파악할 때, 정규표현식 이용. 중요.

In [74]:
print('Hello\nWorld')

Hello
World

In [78]:
#위를 raw data로 하면
print(r'Hello\nWorld')

# raw데이터 : 데이텉 처리시 이스케이프 문자 (\n, \t, \`, \")를 그대로 저장

Hello\nWorld

정규표현식(regex)

    1. 참조 : https://ko.wikipedia.org/wiki/%EC%A0%95%EA%B7%9C_%ED%91%9C%ED%98%84%EC%8B%9D
    2. 간략문법
        \d (숫자와 매치/ [0-9]와 동일) e.g. \d\d\d
        \D (숫자가 아닌 것) 
        \w (영문자나 숫자 [a-zA-Z0-9]와 동일)
        \W (영문자나 숫자가 아닌 문자)
        .  (아무 문자)
        \. (.)
        \- (-)
        {2,} (2번 이상 반복)
        {2, 4} (2~4회 반복)  e.g.\d{2,3}[0-9] 
        ?      (0번이나 1번 의미)
        +  (1번 이상 반복)
        *  (0번 이상 반복) (즉, 안 나올 수도 있다는 뜻)
        [] (x~z 중 하나)
        {} (괄호 안 숫자만큼 반복)
    3. 정규표현식 연습장 : https://regexr.com/
        e.g 1. 전화번호 : 02 888 7777 / 028887777 / 010-9999-9999 / 010.9999.9999 / 02)999-9999
                        => \d{2,3}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}
                        
        e.g 2. 이메일 : abc12@naver.com / abc12@sns.co.kr
                        => \w+@\w+(\.\w+){1,2}
                      
        e.g 3. 주민번호 : 981212-1052525 / 011313-3052525(13월에 태어난, 가짜 주민번호. 얘는 선택 안 되어야함) 
        - 앞 2글자는 아무거나. 그런데 3,4번째 자리는 0/1 and 1/2, 이런식. 
                        => (\d{2}0[1-9][0-3]\d-[0-4]\d{6})|(\d{2}1[0-2][0-3]\d-[0-4]\d{6})

In [12]:
import re
#내 컴퓨터에 있는 패키지를 가져온다는 뜻
data = "이름:홍길동, 주소: 서울, 전화:02-888-8888, \
핸드폰: 010-9999-9999, 특징: 동에번쩍 서에번쩍\
혈액형:Bㅋㅋㅋ ㅋㅋzz"
print(data)

이름:홍길동, 주소: 서울, 전화:02-888-8888, 핸드폰: 010-9999-9999, 특징: 동에번쩍 서에번쩍혈액형:Bㅋㅋㅋ ㅋㅋzz

In [84]:
# 정규표현식으로 전화번호만 뽑기
# 정규표현식 처리에서는 raw 데이터 처리를 하지 않아도 실행은 되나
# 실수를 줄이고, 가독성을 높이는 용도로 raw 데이터 처리를 사용

tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
tels = re.findall(tel_pattern, data) #해당 정규표현식 패턴을 다 찾아줌. 없으면 빈 list를 반환한다. 
tels

['02-888-8888', '010-9999-9999']

In [87]:
email_pattern = r"\w+@\w+(\.\w+){1,2}"
emails = re.findall(email_pattern, data)
emails

[]

In [88]:
# 정규표현식 패턴과 처음 match되는 것을 찾아줘
firstTel = re.search(tel_pattern, data)
firstTel

In [89]:
data

'이름:홍길동, 주소: 서울, 전화:02-888-8888, 핸드폰: 010-9999-9999, 특징: 동에번쩍 서에번쩍혈액형:Bㅋㅋㅋ ㅋㅋzz'

In [92]:
print(data[19:30]) #문자열 슬라이싱 (선생님 코드는 18-29인데 왜 나는 19-30으로 뜨지)

#앞자리부터 하나하나 세면 18번째 숫자, 29번째 숫자

print(firstTel.group(0))

02-888-8888
02-888-8888

In [97]:
tel_pattern = r"(\d{2,3})-(\d{3,4})-(\d{4})"

#많이 쓰지는 않고 웹데이터 수집할 대 간혹 쓴다

firstPhone = re.search(tel_pattern, data)
firstPhone

In [13]:
print('전체 전화번호 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))

NameError: name 'firstPhone' is not defined

In [101]:
# data에서 특정한 데이터 없애기
re.sub("[^가-힣0-9A-Z\s]", '', data)

'이름홍길동 주소 서울 전화028888888 핸드폰 01099999999 특징 동에번쩍 서에번쩍혈액형B '

In [4]:
#9월15일 월요일
# data에서 전화번호 없애기
tel_pattern = r"0\d{1,2}[ \-\.)]?\d{3,4}[ \-\.]?\d{4}"
re.sub(tel.pattern, ' ', data)

NameError: name 're' is not defined

In [15]:
#파일 경로
file_path = "C:\\AI\\source\\01_python\\data\\ch02.txt"
file_path = "C:/AI/source/01_python/data/ch02.txt"
file_path = r"C:\AI\source\01_python\data\ch02.txt"
# 주로 제일 많이 쓰이는 걸 맨 밑에 둔다
#빨대

In [16]:
file_stream = open(file_path, "w")
print("Hello, Python.", "Hello, World", sep="\n")
print("Hello, Python.", "Hello, World", sep="\n", file=file_stream) #파일 출력
file_stream.close() #close 하지 않으면 저장 안 됨

Hello, Python.
Hello, World

### ※문자열 인덱싱

In [17]:
str_= '0123456789'
str_

'0123456789'

In [19]:
str_[0]

#꺾쇠 괄호는 그 속 숫자만 가져온다.

'0'

In [20]:
str_[0], str_[2], str_[-1], str_[-3] #음수인덱싱은 맨 마지막이 -1. 마지막을 -1로 표현한다는 뜻 .

('0', '2', '9', '7')

In [21]:
str_[10]  #없는 인덱싱은 에러.

IndexError: string index out of range

### ※문자열 슬라이싱
(인덱싱과 달리 0~0까지 가져오는 기능)

In [24]:
'''
문자열변수[from:to] : from부터 to앞까지 추출
문자열변수[from:to:step] : from부터 to앞까지 step씩 전진하면서 추출
    from 생략 시 처음부터
    to 생략 시 끝까지
    step 생략 시 1씩 전진
'''
str_[0:3], str_[:3] #from 생략시 처음부터

('012', '012')

In [22]:
str_[2:6]

'2345'

In [23]:
str_[0:10:2]

'02468'

In [25]:
str_[-5:-1] #-5번째부터 -1번째 앞까지

'5678'

In [26]:
str_[9:0:-1] #9번째 글자(9)부터 0번째 전까지 -1씩 전진하면서 추출하니까 텍스트를 거꾸로 출력.

'987654321'

In [29]:
#quiz : 마지막 끌씨부터 처음 글씨까지 거꾸로 출력 9876543210 하려면 어떻게 해야할까?

print(str_[::-1]) 
print(str_[9::-1])
print(str_[-1::-1])

9876543210
9876543210
9876543210

## 3.3 논리형(True / False) 
반드시 첫글자는 대문자여야한다!

In [30]:
a = True
print(a)

True

In [34]:
a = 10>5
print(a)
print(type(a))
print(isinstance(a, bool))

True
<class 'bool'>
True

In [36]:
int(True), int(False)

(1, 0)

In [37]:
bool(1)

True

In [41]:
bool(-1000), bool(0), bool("")

(True, False, False)

In [42]:
# False로 간주되는 것 : 0, ""(빈 스트링), [](빈 리스트), ()-빈튜플, None
# False로 반별되는 경우를 제외하고는 모두 True

In [44]:
# a = [10, 20] #a에 10도 저장하고 20도 저장한다는 뜻 
# a = (10, 20)

In [45]:
person = {'name' : '홍길동', 'score':99}

In [46]:
#if 10>5:
    #조건이 만족하면 수행하라는 뜻.
    
if[]:
    print("True")
else:
    print('False')

False

In [49]:
name = input("이름은?")
if name: #name이 빈스트링이 아니면 if문을 실행하겠다는 소리
    print('당신 이름은', name)
else:
    print('이름을 입력 안 하셨군요')

이름은?
이름을 입력 안 하셨군요

## 3.4 자료형 확인 및 형변환 함수
- Type(변수), 
- isinstance(변수, 타입)ㅣ 변수가 해당 타입인지 여부.
- float() : 실수형으로 변환
- int()   : 정수형으로 변환
- str()   : 문자형으로
- bool()  : 논리형으로

In [51]:
float(4), float("4.1"), int(4.9), int("4"), str(4), str(4.9)

(4.0, 4.1, 4, 4, '4', '4.9')

In [52]:
#에러가 나는 경우들
# int(""), int(""), int(None)
# float(""), float(" "), float(None)

int("123.9") # 정수로 못 바뀔 아이를 정수로 만들라니까 에러남.
int("9,000")

ValueError: invalid literal for int() with base 10: '123.9'

# 4절. 포맷팅
- 포맷팅이란 출력할 문자, 숫자, 날짜 형식을 지정하는 것
## 4.1 문자열에 형식 지정

In [56]:
name = "홍길동"
age = 30
# print(name + '님의 나이는' + age + '살 입니다')
print(name + '님의 나이는' + str(age) + '살 입니다')
# 문자 더하기 숫자를 해서 안 되는 것
print(name, '님의 나이는', age, '살 입니다', sep='')

홍길동님의 나이는30살 입니다
홍길동님의 나이는30살 입니다

In [58]:
# 제일 안 쓰는 방법
# %s: 문자, %dL10진수, %f:실수
print("%s님의 나이는 %d살 입니다"%(name, age)) #올드한 방법. 굳이?
print(f"{name}님의 나이는 {age}살입니다") #요즘 쓰는 방법(?)

홍길동님의 나이는 30살 입니다

In [61]:
print("{}님의 나이는 {}살입니다".format(name, age))
print("{0}님의 나이는 {1}살입니다".format(name, age))
print("{1:>5s}님의 나이는 {0:$<3d}살입니다".format(age, name))

홍길동님의 나이는 30살입니다
홍길동님의 나이는 30살입니다
  홍길동님의 나이는 30$살입니다

## 4.2 format() 문법
- '{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}'.format(변수명) 
    * 인덱스란  0이 첫번째라는 뜻
    * 인덱스 : format 함수 안의 매개변수 순서
    * 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    * 정수자릿수 : 출력할 자릿수
    * 실수자릿수: 전체출력될자리수.변수중에 출력할 자리수
    * 타입 : d(10진수), 0(8진수), x(16진수), b(2진수), f(실수), s(문자)
    * 공백대체문자는 정렬방식을 명시하여야 함.

In [67]:
#숫자의 경우 오른쪽 정렬이 기본
# 문자의 경우 왼쪽 정렬이 기본
# 변수보다 작은 작은 자리수를 지정하면 자릿수 무시되고 다 출력
a = 12345
s = 'Hello'
print("[{0}] [{0:10}] [{0:3}]".format(a))
print("[{0}] [{0:10}] [{0:3}]".format(s))

[12345] [     12345] [12345]
[Hello] [Hello     ] [Hello]

In [69]:
# 정렬방식 : <, ^, >
a, b, c = 10, 20, 3
a = 10
b = 20
c = 3
print("[{:>4}] [{:^4}] [{:>4}]".format(a, b, c))

[  10] [ 20 ] [   3]

In [74]:
# 실수 자릿수 e.g. 10.2
a= 10
f= 12.569
s= "Hello"
print("[{:$>10}] [{:6.2f}]".format(a, f, s))
print("[{:$>6.2f}] [{:6.2f}] [{:_<6.2}]".format(a, f, s))
# 공백대체문자를 쓸 경우 반드시 정렬방식을 표현

[$$$$$$$$10] [ 12.57]
[$10.00] [ 12.57] [He____]

In [77]:
# 자리수앞에 +를 붙이면 양수의 경우도 부호 출력
# 부호나 소수점도 자리수에 포함
a, b = 123, -123 
print("[{:+10}], [{:+10}], [{:10}]".format(a, b, a))
print("[{:=10}], [{:=10}], [{:10}]".format(a, b, a))
print("[{:=+10}], [{:=+10}], [{:10}]".format(a, b, a))

[      +123], [      -123], [       123]
[       123], [-      123], [       123]
[+      123], [-      123], [       123]

In [80]:
#10진수, 8진수, 16진수, 2진수 출력
a = 15
print("10진수 [{:4d}]".format(a))
print("8 진수 [{:4o}]".format(a))
print("16진수 [{:4x}]".format(a))
print("2 진수 [{:4b}]".format(a))

10진수 [  15]
8 진수 [  17]
16진수 [   f]
2 진수 [1111]

In [83]:
a = 2.785
print("[{}]".format(a))
print("[{:+10.4f}]".format(a))
print("[{:+10.4}]".format(a))

[2.785]
[   +2.7850]
[    +2.785]

In [87]:
a = 2.785
sign = "+"
width = 10
precision = 4
print("[{:{}{}.{}}]".format(a, sign, width, precision))
print("[{:{sign}{width}.{precision}}]".format(a, sign=sign, width=width, precision=precision))

[    +2.785]
[    +2.785]

In [88]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [94]:
# import datetime # datetime모듈(파이썬 프로그램파일 datetime.py) 전체를 메모리 load
from datetime import datetime #datetime 모듈 안의 datetime 만 메모리 load
# thatday = 10 #10을 넣으면 숫자변수, "10"을 넣으면 문자변수 
thatday1 = datetime(2025, 9, 11) # 25년 9월 11일 0시0분0초
thatday2 = datetime(2025, 9, 11, 14, 30, 0)
thatday1

datetime.datetime(2025, 9, 11, 0, 0)

In [95]:
# Y(년도 4자리), y(년도 2자리) m월d일p(am/pm)(12시간) H(12시간) M(분) S초
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))
print("{:%y년 %m월 %d일 %H시 %M분 %S초}".format(thatday1))

25년 09월 11일 00시 00분 00초

In [96]:
thatday1.strftime("%y년 %m월 %d일 %H시 %M분 %S초")

'25년 09월 11일 00시 00분 00초'

In [102]:
thatday2.strftime("%y년 %m월 %d일 %p %I시 %M분 %S초")

'25년 09월 11일 PM 02시 30분 00초'

In [103]:
#현재의 날짜와 시간
#datetime(2025, 9, 11, 14, 30): 특정한 날짜와 시간
now = datetime.now() #지금
now - thatday1 #날짜형 변수끼리 연산 가능

datetime.timedelta(days=4, seconds=54182, microseconds=820337)

In [105]:
# 지금(날짜와 시간) 원하는 스타일로 출력
print("{:%Y-%m-%d %p %I:%M}".format(now))
print(now.strftime("%Y-%m-%d %p %I:%M"))

2025-09-15 PM 03:03
2025-09-15 PM 03:03

In [106]:
# 지금을 문자열로 전환하는 함수
from time import strftime
strftime("%Y-%m-%d %p %I:%M")

'2025-09-15 PM 03:03'