In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:90% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.text_cell_render.rendered_html{font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 52절. 연산자.
## 5.1 산술연산자 : + -,*, /(결과 float), //몫, %(나머지), **(제곱)

In [8]:
print("10*5승=", 10**5)
print("4/2(결과 실수) =", 5/2)
print("5//2(몫)=", 5/2)
print("5%2(나머지) =", 5%2)

10*5승= 100000
4/2(결과 실수) = 2.5
5//2(몫)= 2.5
5%2(나머지) = 1

In [5]:
print("4**2 =", 4**2)

4**2 = 16

In [7]:
# 정수끼리 연산은 결과가 정수(단/제외)
# 정수와 실수, 실수끼리 연산 결과는 실수
print("4**2 =", 4**2.0)

4**2 = 16.0

In [10]:
# quiz1, 정수를 입력받아 짝수인지 홀수인지 여부를 출려하는 프로그램을 짜보자
num = int(input("정수를 입력하세요:"))
result = num % 2 # -1, 0, 1 이 세 개 말고는 절대 올 수 없음
if result : 
    temp = "홀수"
else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}라서 {temp}를 입력하셨습니다")

정수를 입력하세요:8
입력하신 수는 8, 2로 나눈 나머지는 0라서 짝수를 입력하셨습니다

In [12]:
# quiz2, 정수를 입력받아 5의 배수인지 여부를 출력하라

num = int(input("정수를 입력하세요:"))
result = num/5
if result :
    temp = "5의 배수"
else: 
    temp = "5의 배수가 아닌 수"
print(f"입력하신 수는 {num}, 5로 나눈 나머지는 {0}이라서 {temp}를 입력하셨습니다)

SyntaxError: unterminated string literal (detected at line 9) (444354249.py, line 9)

In [ ]:
# quiz3, 국어 영어 수학 점수를 입력받아 다음 셀에서 다음과 같이 출력하도록 구현하시오
# 국어 :  99      영어 : 100       수학 : 100
# 합계 : 299      평균 :  99.7

In [ ]:
# 내가 풀어보기 quiz2, 정수를 입력받아 5의 배수인지 여부를 출력하라

num = int(input("정수를 입력하세요:"))
result = 
if num :
    temp = "5의 배수"
else: 
    temp = "5의 배수가 아닌 수"
print(f"입력하신 수는 {num}, 5로 나눈 나머지는 {0}이라서 {temp}를 입력하셨습니다)

## 5.2 할당연산자 : =, =+, -=, /=, *=, //=, %=

같다 아니다. a = 10은 a에다가 10을 넣는다는 뜻
할당연산자가 = 만 있는 것이 아니라 =, =+, -=, /=, *=, //=, %=

In [13]:
a = 10
a += 5 #a=a+5와 동일
print(f"a={a}")

a=15

In [14]:
a -= 5 #a=a-5와 동일
print("5빼기 :", a) #10
a *= 10 #a=a*10
print("10배 :", a) #100
a //= 5 #a=a//5
print("5나눈 몫 ", a)

5빼기 : 10
10배 : 100
5나눈 몫  20

## 5.3 논리연산자 : &, and, |, or, not 
- 고등학교 때 한겁니다.
- 왜 앤드랑 오어가 두개 씩 있을까요. It's like e.g. 서울시에 목동이면서 학원인 것을 and랑 or를 씀.

In [17]:
# & : 논리연산자, 비트연산자
print((10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트 연산  1 1 1 0 (12)
                    #    0 0 0 1 (1)
                       
    
print("{:4b}".format(12))

True
0
1100

In [21]:
# and : 논리연산자. False 로 판별되는 첫번째 항의 결과 반환
            # 모든 항이 True면, 마지막항의 결과 반환
print((10>3) and (10>5))
print( 0 and 1)

True
0

In [24]:
# |: 논리연산, 비트연산
result = False | True  
print('논리연산(연산자 안뒤에 논리형일 때):', result)
result = False | 3 # 0000 (0)
                   # 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때):', result)

논리연산(연산자 안뒤에 논리형일 때): True
비트연산(연산자 앞이나 뒤에 숫자일 때): 3

In [25]:
# or : 논리연산
print(False or 0 or '' or None or [])
print(False or 0 or 'Hong' or None or [])

[]
Hong

In [26]:
not 10>5

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [30]:
# 비교연산자는 이항, 삼항, 사항,... 다항연산자. 상관없음
x = 95
print( (90<=x) & (x<=100))
print(90 <+ x <= 100)
print(90 <= x <= 100 > 10)

True
True
True

In [32]:
# 비교연산자의 우선순위가 비트연산자 (|,&)의 우선순위보다 낮다
print((10>5) & (10>7))
print( 10>5 & 10>7) #괄호가 없으면 우선순위가 높은 5&10부터 실행
print( 10> 0> 7)
#0101 & 1010(10)

True
False
False

In [35]:
address = "목동"
age = 29
# print(address=="목동" & age<=30)
print((address=="목동") & (age<=30))
#근데 괄호하기 싫다면 
print(address=="목동" and age<=30)

True
True

In [37]:
# 문자는 abcd순, 즉 ASCII코드 순으로 비교 :
# A는 65, B는 66로 저장됨. 소문자는 또 다름. 그래서 A가 B보다 작음. 그래서 문자들이 비교됨. 
# 특수문자 < 숫자문자 < 대문자 < 소문자(abc순)
"scott" < "tiger"

True

In [39]:
"김길동" < "홍길동"

True

## 5.5 비트연산 : &, |, ^(XOR), ~(반대)
- AI의 겨울을 맞이한 게 XOR때문이었다.

...
x    y    x&y   x|y   x^y   ~x
- - - - - - - - - - - - - - - - - - - 
0    0    0    0     0      1
0    1    0    1     1      1
1    0    0    1     1      0
1    1    1    1     0      0

...

In [ ]:
# 고개

In [5]:
a = 15 #8+4+2+1   2진수로 바꾸면 1111
b = 2 # 2진수로 바꾸면 10
print("  a = {0:2} : {0:04b}".format(a))
print("  b = {0:2} : {0:04b}".format(b))
print("a&b = {0:2} : {0:04b}".format(a&b))
print("a|b = {0:2} : {0:04b}".format(a|b))
print("a^b = {0:2} : {0:04b}".format(a^b))
print(~a)

  a = 15 : 1111
  b =  2 : 0010
a&b =  2 : 0010
a|b = 15 : 1111
a^b = 13 : 1101
-16

# 6절 문자열 다루기
반드시 타이핑을 쳐봐야된다. 

문자열변수[from:to:step] : 일부 문자 추출

len(문자열변수) : 문자수

upper() : 대문자로

lower() : 소문자로

title() : 각 어절의 앞글자만 대문자로

capitalize() : 첫문자만 대문자로

count("찾을문자") : "찾을문자"가 몇개 들어있는지 갯수 반환

find("찾을문자") : "찾을문자"가 왼쪽부터 몇번째에 있는지 index를 반환 (없으면 -1)

rfind("찾을문자") : "찾을문자"가 오른쪽부터 몇번째에 있는지 index를 반환(없으면 -1)

cf. index("찾을문자") : 찾을문자가 왼쪽부터 몇번째에 있는 index를 반환(없으면 에러)

startswith("특정문자") : "특정문자"로 시작하는지 여부 반환

endswith("특정문자") : "특정문자"로 끝나는지 여부 반환

strip() : 좌우공백제거(trim)

lstrip() : 왼쪽 공백 제거

rstrip() : 오른쪽 공백 제거

split() : 문자열을 공백이나 다른 문자 기준으로 나누어 리스트로 반환

isdigit() : 문자열이 숫자문자열인지 여부 반환

islower() : 문자열이 소문자인지 여부 반환

isupper() : 문자열이 대문자인지 여부 반환

replace(oldStr, newStr) : oldStr을 newStr로 변경

In [6]:
temp = "python is easy. python is smart. python"
temp, len(temp)

('python is easy. python is smart. python', 39)

In [7]:
temp = "python is easy. Python is smart. python"
    #   0123456789012345687901234567890123
print("대문자로 :", temp.upper())
print("소문자로 :", temp.lower())
print("title() :", temp.title())
print("capitalize() :", temp.capitalize())
print("C이 몇번 나오는지 :", temp.count("C"))
print("python이 몇번 나오는지 :", temp.count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.lower().count("python"))
print("대소문자 구분없이 python이 몇번 :", temp.upper().count("PYTHON"))
print("대소문자 구분없이 python이 몇번 :", temp.title().count("Python"))
print("python이 나오는 첫index 위치 :", temp.find("python"))
print("python이 나오는 마지막 index 위치 :", temp.rfind("python"))
print("C가 나오는 index위치 :", temp.find("C")) # 찾을문자가 없을 경우 -1
print("python이 나오는 첫 index 위치 :", temp.index("python"))
# print("java이 나오는 첫 index 위치 :", temp.index("java")) 찾을문자가 없을 경우 에러
print("python으로 시작하는 여부 :",  temp.startswith("python"))
print("대소문자 구분없이 python으로 시작하는 여부 :",  temp.lower().startswith("python"))
print("python으로 끝나는지 여부 :", temp.endswith("python"))
print("n으로 끝나는지 여부 :", temp.endswith("n"))
print("python을 R로 변경 :", temp.replace("python", "R"))
print(temp)

대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
소문자로 : python is easy. python is smart. python
title() : Python Is Easy. Python Is Smart. Python
capitalize() : Python is easy. python is smart. python
C이 몇번 나오는지 : 0
python이 몇번 나오는지 : 2
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
대소문자 구분없이 python이 몇번 : 3
python이 나오는 첫index 위치 : 0
python이 나오는 마지막 index 위치 : 33
C가 나오는 index위치 : -1
python이 나오는 첫 index 위치 : 0
python으로 시작하는 여부 : True
대소문자 구분없이 python으로 시작하는 여부 : True
python으로 끝나는지 여부 : True
n으로 끝나는지 여부 : True
python을 R로 변경 : R is easy. Python is smart. R
python is easy. Python is smart. python

In [8]:
temp = "    python is easy    "
notdigit = "1,000"
print("좌우 공백 제거 : [{}]".format(temp.strip()) )
print("왼쪽 공백 제거 : [{}]".format(temp.lstrip()) )
print("오른쪽 공백 제거 : [{}]".format(temp.rstrip()) )
print("isdigit(숫자문자)인지 여부 :", notdigit.isdigit())
print("replace후 isdigit :", notdigit.replace(",", "").isdigit())
print("대문자인지 여부 :", temp.isupper())
print("소문자인지 여부 :", temp.islower())

좌우 공백 제거 : [python is easy]
왼쪽 공백 제거 : [python is easy    ]
오른쪽 공백 제거 : [    python is easy]
isdigit(숫자문자)인지 여부 : False
replace후 isdigit : True
대문자인지 여부 : False
소문자인지 여부 : True

In [9]:
names = "홍길동 김길동      박길동 주길동 고길동"
name_list = names.split()
print("space단위로 names 분리(list로 반환) :", name_list)
print(name_list[0], name_list[1])

space단위로 names 분리(list로 반환) : ['홍길동', '김길동', '박길동', '주길동', '고길동']
홍길동 김길동

In [11]:
date_str = "2025-09-17"
date_list = date_str.split("-")
print(date_list)
print("년도 :", date_list[0])
print("월 :", date_list[1])
print("일 :", date_list[2])

['2025', '09', '17']
년도 : 2025
월 : 09
일 : 17

In [12]:
# str_ = "ABC"
str_ = ["A", "B", "C"]
str_[0], str_[1], str_[2]

('A', 'B', 'C')

In [13]:
# ' - '을 "/"로 바꾸기
temp = "Python - 웹(HTML/CSS/JS) - Oracle/MySQL(DBMS) - DL/ML - LLM(RAG)"
# temp.replace(" - ", "/")
# split()와 join() 이용하여 replace역할
splited_temp = temp.split(" - ")
print('분리된 temp :', splited_temp)
joined_temp = "/".join(splited_temp) # "/"로 매개변수 list를 연결
print("join temp :", joined_temp)

분리된 temp : ['Python', '웹(HTML/CSS/JS)', 'Oracle/MySQL(DBMS)', 'DL/ML', 'LLM(RAG)']
join temp : Python/웹(HTML/CSS/JS)/Oracle/MySQL(DBMS)/DL/ML/LLM(RAG)

In [14]:
# 문자열을 다룰 수 있는 함수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜 다루기

In [15]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [18]:
# datetime모듈(datetime.py)안의 , datetime, date, time 이 세 개만 load
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [19]:
# 특정 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 9, 11, 9, 30)
thatday

datetime.datetime(2025, 9, 11, 9, 30)

In [20]:
# 날짜를 문자열로 전환
print("{:%y년%m월%d일(%A) %H:%M:%S}".format(thatday))
print(thatday.strftime("%y년%m월%d일(%A) %H:%M:%S"))
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬는 형태로 convert

25년09월11일(Thursday) 09:30:00
25년09월11일(Thursday) 09:30:00
Thu Sep 11 09:30:00 2025

In [23]:
# 지금을 저장하는 datetime 객체 생성
now = datetime.now()
print(now)
print(now.ctime())
print(now.strftime("%Y년%m월%d일 %p %I:%M:%S"))

2025-09-17 15:51:22.055088
Wed Sep 17 15:51:22 2025
2025년09월17일 PM 03:51:22

In [24]:
diff = now-thatday
print(diff)
print(diff.days)

6 days, 6:21:22.055088
6

In [26]:
# p라는 변수에 시간만 있고 날짜를 뱉어내라 한다면? ㅋㅋ 

#1900년 1월 1일로 뜬다

## 7.2 날짜

In [27]:
# 특정한 날짜를 갖는 date 객체 생성
someday = date(2025, 9, 11)
someday

datetime.date(2025, 9, 11)

In [28]:
print(someday)
print(someday.strftime("%Y년 %m월 %d일 %H:%M"))

2025-09-11
2025년 09월 11일 00:00

In [29]:
# 오늘을 갖는 date 객체 생성
today1 = date.today()
today2 = datetime.now().date()
print(today1 == today2)

True

In [30]:
print(today1.strftime("%Y년%m월%d일 %H:%M"))
print(today2.strftime("%Y년%m월%d일 %H:%M"))

2025년09월17일 00:00
2025년09월17일 00:00

In [31]:
diff = someday - today1
print(diff)
print(diff.days)

-6 days, 0:00:00
-6

## 7.3 시간

In [32]:
# 특정한 시간을 저장하는 time 객체 생성
t = time(14, 39, 0)
t

datetime.time(14, 39)

In [33]:
# print(t.strftime("%Y년 %m월 %d일 %p %I:%M"))
print(t.strftime("%p %I:%M"))

PM 02:39

In [34]:
# 현재 시간
nowtime = datetime.now().time()
print(nowtime)

16:02:45.483296

# 8절. 연습문제

In [35]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = '홍길동'
age = 23
print('{}님의 나이는 {:3}살입니다'.format(name, age))
print('{0}님의 나이는 {1}살입니다'.format(name, age))
print('%s님의 나이는 %d살입니다'% (name, age))
print(f'{name}님의 나이는 {age}살입니다')

홍길동님의 나이는  23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다
홍길동님의 나이는 23살입니다

In [36]:
# 2 두 정수입력받아 산술연산결과 출력
num1 = int(input('첫번째 수'))
num2 = int(input('두번째 수'))
print('num1 + num2 = ', (num1+num2))
print('num1 - num2 = ', (num1-num2))
print('num1 * num2 = ', (num1*num2))
print('num1 / num2 = ', (num1/num2))
print('num1 // num2 = ', (num1//num2))
print('num1 % num2 = ', (num1%num2))

첫번째 수10
두번째 수5
num1 + num2 =  15
num1 - num2 =  5
num1 * num2 =  50
num1 / num2 =  2.0
num1 // num2 =  2
num1 % num2 =  0

In [ ]:
1.
이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
[
출력형식 : 홍길동님의 나이는 23 살입니다
2.
두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
3.
문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello 가 할당된 변수를 이용하여
‘World 로 출력하세요
4.
x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
5.
x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
6.
오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 화
씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 ,
F 는 화씨
C = (F
32) / 1.8
F = (C
1.8) + 32

In [ ]:
# 다시 1번문제 내 힘으로 안 보고 풀어보기

In [ ]:
#2

input()
N = int(input())

In [ ]:
#3